<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4 class="modal-title" id="myModalLabel">
        {# 模态框标题#}
        {% block modal-title %}
        {% endblock %}
    </h4>
</div>
<div class="modal-body">
    <form class="form-horizontal" id="form-modal" role="form">
        {% csrf_token %}
        {% block modal-form-content %}
        {% endblock %}
        <button type="submit" hidden="hidden" id="btn-hidden"></button>
    </form>

</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
    <button type="button" class="btn btn-primary" id="btn-submit">
        {% block btn-submit %}
            提交
        {% endblock %}
    </button>
</div>

<script>
    /*清空模态框*/
    $('.modal').on('hidden.bs.modal', function () {
        document.getElementById("form-modal").reset();
        $(".error").each(function(){
            $(this).remove();
        });
    });

    {#    csrf表单#}
    var csrftoken = getCookie('csrftoken');

    $.ajaxSetup({
        crossDomain: false, // obviates need for sameOrigin test
        beforeSend: function (xhr, settings) {
            if (!csrfSafeMethod(settings.type)) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
            }
        }
    });

    $.validator.setDefaults({
        submitHandler: function () {
            alert("提交事件!");
        }
    });
    $().ready(function () {
        $("#form-modal").validate({
            submitHandler: function (form) {
                console.log("校验通过!");
                var form = new FormData($("#form-modal")[0]);
                $.ajax({
                    url: "{% block modal-url %}{% endblock %}",
                    type: "post",
                    data: form,
                    processData: false,
                    contentType: false,
                    success: function (r) {
                        if (r.result) {
                            alert(r.msg);
                        } else {
                            alert(r);
                        }
                        window.location.href = "{% block modal-redirect %}{% endblock %}";
                    }
                });
            },
            invalidHandler: function (form, validator) {
                console.log("校验未通过！");
                return false;
            }
        });
    });

    $("#btn-submit").bind("click", function () {
        var r = true;
        {% block modal-validation-custom %}true{% endblock %}
        if(r){
             $("#btn-hidden").click();
        }

    });

    {% block modal-script %}{% endblock %}
</script>