{% extends 'expshare/basemodal.html' %}

{% block modal-title %}新建分类{% endblock %}
{% block modal-form-content %}
    <div class="form-group">
            <label for="firstname" class="col-sm-2 control-label">名称</label>
            <div class="col-sm-9">
                <input name="name" type="text" class="form-control" id="firstname" placeholder="请输入名称">
            </div>
    </div>
{% endblock %}

{% block modal-url %}/addcategory/{% endblock %}
{% block modal-redirect %}/index/{% endblock %}