{% extends 'expshare/basemodal.html' %}

{% block modal-title %}
    注册
{% endblock %}

{% block modal-form-content %}

    <div class="form-group">
        <label for="username" class="col-sm-2 control-label">用户名<span class="irequired"> * </span></label>
        <div class="col-sm-9">
            <input name="username" autocomplete="off" type="text" class="form-control" id="username" placeholder="请输入用户名" required>
        </div>
    </div>

    <div class="form-group">
        <label for="password" class="col-sm-2 control-label">密码<span class="irequired"> * </span></label>
        <div class="col-sm-9">
            <input type="password" autocomplete="off" name="password" class="form-control" id="password" placeholder="输入密码" required>
        </div>
    </div>

    <div class="form-group">
        <label for="password-confirm" class="col-sm-2 control-label">确认密码<span class="irequired"> * </span></label>
        <div class="col-sm-9">
            <input type="password" autocomplete="off" class="form-control" id="password-confirm" placeholder="确认密码" required>
        </div>
    </div>

    <div class="form-group">
        <label for="email" class="col-sm-2 control-label">邮箱<span class="irequired"> * </span></label>
        <div class="col-sm-9">
            <input type="email" autocomplete="off" class="form-control" id="email" name="email" placeholder="输入邮箱，方便找回密码" required>
        </div>
    </div>

    <div class="form-group">
        <label for="mobilephone" class="col-sm-2 control-label"> 手机&nbsp;&nbsp;</label>
        <div class="col-sm-9">
            <input type="email" autocomplete="off" class="form-control" id="mobilephone" name="mobilephone" placeholder="手机号，选填">
        </div>
    </div>

    <div class="form-group">
        <label for="profession" class="col-sm-2 control-label">职业<span class="irequired"> * </span></label>
        <div class="col-sm-9">
            <select name="profession" id="profession" class="form-control" required>
                <option value="0">学生</option>
                <option value="1">职场人</option>
            </select>
        </div>
    </div>

{% endblock %}

{% block modal-url %}/register/{% endblock %}